*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea   {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}

img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}
/*---------------------------------------------------------------*/

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;

}
.container{
    background-color: #c5ac7d;
}
.head__photo img {
    width: 384px;  
    height: 538px;
    margin: 0 150px 0 0;
}
.head__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto',Arial,sans-serif;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: #000;
    font-size: 42px;
    padding: 0 0 0 30px;
}
.title p:last-child{
    font-size: 25px;
    margin: 10px 0 30px 0;
}
.about__myself {
    font-weight: 400;
    color: #000;
    font-size: 20px;
    line-height: 1.55
}
/*---------------------------------------------------*/
.info {
    font-family: 'Roboto',Arial,sans-serif;
    color: #000;
    max-width: 70%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}
.info__education {
}
.education__title {
    font-weight: 600;
    font-size: 28px;
    padding: 50px 0 15px 0;
    display: flex;
    justify-content: center;
}
.education__text {
    font-weight: 400;
    font-size: 16px;
    
    border-top: 3px solid #000;
    padding: 10px 0 10px 0;
}
.expirience {
    
}
.expirience__title {
    font-weight: 600;
    font-size: 28px;
    padding: 50px 0 15px 0;
    display: flex;
    justify-content: center;
}
.expirience__text {
    font-weight: 400;
    font-size: 16px;
  
    border-top: 3px solid #000;
    padding: 10px 0 10px 0;
}
.expirience__text li{
    margin: 0 0 10px 0;
}
.employers {
}
.employers__title {
    font-weight: 600;
    font-size: 28px;
    padding: 50px 0 15px 0;
    display: flex;
    justify-content: center;
}
.employers__text {
}
.employer{
    background-color: #c5ac7d;
    border-top: 3px solid #000;
    padding: 40px 0 40px 0;
}
.employers__name {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 23px;
    padding: 10px 0 15px 0;
}
.employers__name__title{
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0 15px 0;
}

.employers__text__work {
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0 0 0;
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}
.location__photo {
    width: 32%;
    border-radius: 30px;
}
.location__photo__alga{
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
}

.location__kamilfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0 30px 0;
}
.location__photo__kamilfo{

}
.emloyers__footer {
    border-top: 3px solid #000;
    font-weight: 400;
    font-size: 22px;
    padding: 50px 0 15px 0;
}
.about__me {
    margin: 20px 0 10px 0;
    font-weight: 500;
    font-size: 25px;
}
.about__me__list li{
    margin: 0 0 10px 0; 
}
.footer{
    display: flex;
    align-items:center;
    height: 50px;
    background-color: #7c6740;
    font-family: 'Roboto',Arial,sans-serif;
}
.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
}